<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Wedding Blog</title>
</head>
<body>
	<div class="header">
		<div class="header-main">
			<div class="header-icon"></div>
			<div class="header-title">
				<div class="main-title"></div>
				<div class="sub-title"></div>
			</div>
		</div>
		<div class="menu-bar">
			<div class="menu-bar-item">
				<div></div>
			</div>
			<div class="menu-bar-item"></div>
			<div class="menu-bar-item"></div>
		</div>
	</div>
	<div class="main-content">
	</div>
	<div class="footer">
		<div class="pagination"></div>
	</div>
</body>
</html>